<div class="container">
  <p>chat works!</p>


  <br>


  <form [formGroup]="chatFormGroup" (ngSubmit)="onSubmit()">
    <div>
      <input type="button" value="connect" class="btn btn-success" (click)="connect();">
      <br>
      <label for="channel" class="form-label">channel : </label>
      <select formControlName="channel" id="channel" class="form-control-sm">
        <option *ngFor="let pf of chatChannel" [ngValue]="pf">
          {{ pf }}
        </option>
      </select>
    </div>
    <div class="col-12">
      is connected: <strong>{{isConnected}}</strong>
    </div>
    <br>
    <input type="text" placeholder="message" formControlName="message" class="input-group">
    <input type="text" placeholder="from" formControlName="from" class="input-group">
    <br>
    <input type="submit" value="Send" class="btn btn-danger" [disabled]="chatFormGroup.invalid">
  </form>
  <br>
  <h3>messages</h3>
  <ul>
    <li *ngFor="let message of messages">
      {{message.from}} - {{message.message}} - {{message.created  | date:'medium'}}
    </li>
  </ul>

</div>
